.ulTimeLine {
    border-left: 2px solid lightgrey;
    margin: 1em;
    padding: 0;
}

.ulTimeLine li {
    list-style: none;
    margin: 0 0 0.5em 0;
    padding: 0;
}

.ulTimeLine li:before {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    margin: 0 0.5em 0 -0.65em;
    border-radius: 50%;
    text-align: center;
    background: lightgrey;
}

.round {
    display: inline-block;
    height: 22px;
    width: 22px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #222;
    color: #FFF;
    text-align: center;
}

.round.round-sm {
    height: 13px;
    width: 13px;
    line-height: 13px;
    -moz-border-radius: 10px;
    border-radius: 13px;
    font-size: 0.3em;
}


.round.green {
    background-color: #42A129;
}

.round.hollow.green {
    color: #42A129;
    background-color: #FFF;
    -webkit-box-shadow: 0px 0px 0px 2px #000;
    -moz-box-shadow: 0px 0px 0px 2px #000;
    box-shadow: 0px 0px 0px 1px #000;
}

@media only screen and (min-width: 40.063em) {
    .row-adicional-information{
        position: relative;
        bottom: 243px;
    }
}
